<div style="height: 30px"></div>

<div class="Sponsor-profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="display-pic" src="#" alt="{{ nav_type.email }}'s dp">
              <h3>{{ nav_type.email }}</h3>
            </div>
            <div class="card-body">
                <table>
                    <tr>
                      <th width="50%">Sponsor ID</th>
                      <td width="2%">:</td>
                      <td width="2%"></td>
                      <td>123456</td>
                    </tr>
                    <tr>
                        <th width="50%">#</th>
                        <td width="2%">:</td>
                        <td width="2%"></td>
                        <td>60%</td>
                    </tr>
                    <tr>
                        <th width="50%">#</th>
                        <td width="2%">:</td>
                        <td width="2%"></td>
                        <td>$9000</td>
                      </tr>
                </table>

            </div>
          </div>
        </div>


        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">Active Campaigns</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="35%">Campaign 1 </th>
                  <th width="35%">Progress </th>
                  <td><a href="{{ url_for('viewActiveCampaigns') }}">
                      <button class = "btn btn-warning"> View </button>
                  </a>></td>
                </tr>
                <tr>
                  <th width="35%">Campaign 2</th>
                  <th width="35%">Progress </th>
                  <td>#</td>
                </tr>
              </table>
            </div>
            </div>

            <div style="height: 30px"></div>

            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0">New Requests</h3>
                </div>
                <div class="card-body pt-0">
                  <table class="table table-bordered">
                    <tr>
                      <th width="70%">Request 1</th>
                      <td>#</td>
                    </tr>
                    <tr>
                      <th width="70%">Request 2</th>
                      <td>#</td>
                    </tr>
                  </table>
                </div>
                </div>

            <div style="height: 50px"></div>

        </div>
      </div>
    </div>
  </div>