<div class="container mt-4">
    <h2>Admin Dashboard</h2>
    <hr>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Users</h5>
                    <p>{{ total_users }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Total Campaigns</h5>
                    <p>{{ total_campaigns }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Active Campaigns</h5>
                    <p>{{ active_campaigns }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Flagged Users</h5>
                    <p>{{ flagged_users }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5>Total Influencers vs Sponsors</h5>
                    {{ img_data|safe }}
                </div>
            </div>
        </div>
    </div>
    
</div>

