
<nav>
    <ul>
    
        {% if nav_type.isAdmin == 1 %}
        <li><a href="{{ url_for('index') }}">{{ nav_type.email }}'s Dashboard</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}

        {% if nav_type.isInfluencer == 1 %}
        <li><a href="{{ url_for('index') }}">{{ nav_type.email }}'s Dashboard</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('findSponsor') }}">Find</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}


        {% if nav_type.isSponsor == 1 %}
        <li><a href="{{ url_for('index') }}">{{ nav_type.email }}'s Dashboard</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}

        {% if (nav_type == None) %}
        <li><a href="{{ url_for('index') }}">Home</a></li>

        <li><a href="/registration">Sign-up</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}
        
    </ul>
</nav>
