
<form action="{{ url_for('registration') }}" method="POST">
    <div class="form-container">
        <div class="header">
            <header>Signup</header>
        </div>
        <br>
        <div class="input-container">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name="password2">
            </div>

            <div class="form-group">
                <select class="form-control" name="role" required>
                    <option value="" disabled selected>Select your role</option>
                    <option value="influencer">Influencer</option>
                    <option value="sponsor">Sponsor</option>
                </select>
            </div>
            
            <br>
            <div class="butn">
                <small id="emailHelp" class="form-text text-muted">By creating this account you agree to our Terms and Conditions*</small>
                <br>
                <button type="submit" class="btn btn-primary" href="#">Create Account</button>
            </div>
        </div>

        <span><a href="{{ url_for('login') }}"> Already have an account? Click here to Login </span>
    </div>

</form>
